body
{
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6
{
  font-family: "Montserrat-Bold"
}
p
{
  color: #8f8f8f;
}
a
{
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover
{
  color: #ff4c68;
}

/* containers */
.containerFluid
{
  padding: 7% 15%;
}

/* Sections */
.orangeSection
{
  background-color: #ef8172;
  color: #fff;
}
.redSection
{
  background-color: #ff4c68;
  color: #fff;
}
.whiteSection
{
  background-color: #FFF;
}
/* Headings */
.bigHeading
{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.sectionHeading
{
  font-size: 3rem;
  line-height: 1.5;
}
/* Navigation Bar */
.navbar
{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
/* Title Section */
#title
{
  text-align: left;
}
#title .containerFluid
{
  padding: 3% 7% 15%;
}
/* download button */
.download-button
{margin: 5% 3% 5% 0}

/*Title Image*/
.title-image
{
  max-width: 20vw;
  transform: rotate(25deg);
}

/* Features Section */
#features
{
  font-size: 2.5rem;
}

.feature-box
{
  padding: 8%;
}
.featuresText
{
  font-style: italic;
  font-size: 1.15rem;
}
.featureTitles
{
  font-size: 1.5rem;
}
.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ff4c68;
}

/* TESTIMONIALS SECTION */
.testimonialText
{
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonialName
{
  font-weight: lighter;
}

.testimonialImage
{
  width: 15%;
  margin: 20px;
}
/* press section */
#press
{
  padding-bottom: 3%;

}
.pressLogo
{
  margin:5px 20px;
  width: 10%
}

/*price section */


/* Pricing Section */
.carousel-item
{
  border-radius: 8%;
}
#pricing
{
  padding: 2% 10% 0;
}
#pricing h2
{
  color: black;
  font-size: 2.25rem;
  font-weight: bold;
;
}
.text-bg-danger
{
  background-color: #ff4c68
}
/* footer */
.footer-link img {
	display:inline-block;
	padding: 5px;
  max-height: 25px;
}

@media (max-width: 1028px)
{
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0deg);
  }
}
