h1
{

  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h3
{
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
}
p
{
  color: #8f8f8f;
  font-style: italic;
  font-size: 1.15rem
}
#title
{
  background-color: #ff4c68;
  color: #FFF;
}
.container-fluid
{
  padding: 3% 15%;
}

body
{
  font-family: "Montserrat";
  font-weight:bold;
}

/* Navigation Bar */
.navbar
{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* download button */
.download-button
{margin: 5% 3% 5% 0}

/*Title Image*/
.title-image
{
  max-width: 20vw;
  transform: rotate(25deg);
}

/* Features Section */
#features
{
  padding: 7% 15%;
}

.feature-box
{
  text-align: center;
  padding: 8%;
}

.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ff4c68;
}

/* TESTIMONIALS SECTION */
#testimonials
{
  background-color: #ef8172;
  text-align: center;


}
.testimonialText
{
  color: #FFF;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonialName
{
  color: #fff;
  font-weight: lighter;
}

.testimonialImage
{
  width: 15%;
  margin: 20px;
}

#press
{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}
.pressLogo
{
  margin:5px 20px;
  width: 10%
}

.carousel-item
{
  border-radius: 8%;
  padding: 7% 15%;
}

/* Pricing Section */
#pricing
{
  text-align: center;
  padding: 2% 10% 0;
}
#pricing h2
{
  color: black;
  font-size: 2.25rem;
  font-weight: bold;
;
}
.text-bg-danger
{
  background-color: #ff4c68
}

#cta
{
  text-align: center;
}

footer
{
  text-align: center;
}
